*{
    font-size: 16px;
}
.imonion {
    width: 100vw;
}
.primera{
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: auto;
    row-gap: 2rem;
    justify-itemsdisplay: flex;
    margin: auto;: left;
}
.im{
    display: flex;
    margin: auto;
}
.in{
    display: flex;
    margin: auto;
}
ul li{
    list-style: none;

}
ul li::before{
    content:'- '
}
h3 {
    font-size: 40px;
}
.segona{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    row-gap: 2rem;
    justify-items: left;
}
.tercera{
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: auto;
    row-gap: 2rem
}
